# streamlit==1.36.0
# langchain==0.2.5
# langchain_groq==0.1.5
# langchain_core==0.2.7
# langchain_huggingface==0.0.3
# langchain_pinecone==0.1.1
# langchain_openai==0.1.8
# pinecone-client==3.2.2
# langchain_community==0.2.5
# python-dotenv==1.0.1
# pypdf==4.2.0
# chromadb==0.5.3
# protobuf==4.25.3

streamlit==1.36.0
langchain
langchain_groq
langchain_core
langchain_huggingface
langchain_pinecone
langchain_openai
pinecone-client
langchain_community
python-dotenv
pypdf
chromadb==0.5.3
langchain-chroma
pysqlite3-binary
pyodbc
python-dotenv
protobuf==3.20.3
# pydantic<2.0.0

